body {
    font-family: Flame, "Cooper Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    background-color: rgb(245, 235, 220);
    width: 100%;
}
.navbar{
    position: fixed;
    z-index: 1;
}


.nav-link {

    color: rgb(80, 35, 20);
    line-height: 27px;
    font-size: 17px;
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(136, 27, 27);
}

.burger-king-logo {
    height: 56px;
    width: 53px;
}

.dropdown-menu {
    color: rgb(80, 35, 20);
    width: 320px;
    background-color: rgb(245, 235, 220);
}

.dropdown-item:hover {
    color: rgb(136, 27, 27);
    background-color: rgb(245, 235, 220);
    text-decoration: underline;
}

.order-button {
    padding: 0.375rem 1.5rem;
    border-radius: 9999rem;
    cursor: pointer;
    color: rgb(245, 235, 220);
    border-color: rgb(80, 35, 20);
    background-color: rgb(80, 35, 20);
}
.navbar-brand{
    color:rgb(80, 35, 20) ;
}
.location {
    cursor: pointer;
}

.location-section {
    padding-top: 36px;
    background-color: rgb(245, 235, 220);
}

.card-section {
    background-color: rgb(245, 235, 220);
}

.card {
    width: 91%;
    margin: 5%;


    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
    border-radius: 12px;
    height: 90%;

    color: rgb(80, 35, 20);
}

.card-title {
    display: flex;
    font: var(--font-headerThree);
    margin-bottom: 8px;
    font-weight: 600;
}

.card-text {
    font: var(--font-headerThree);
    font-size: 14px;
}

.card-button {
    border-width: 1px;
    border-color: rgb(214, 35, 0);
    border-style: solid;
    color: rgb(214, 35, 0);
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    float: inline-end;

    height: 48px;
    padding: 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
}

.card-button:hover {
    background-color: rgb(136, 27, 27);
    color: white;
}

.icon-social {
    height: 30px;
    width: 33px;
}

.phone-section {
    background-color: rgb(239, 225, 204);

}

.phone-text{
    margin-top: auto;
}

.footer-section {
    background-color: rgb(80, 35, 20);
    color: white;
}

.footer-inner {
    list-style: none;
}

.footer-inner li:hover,
.under-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyright-text {
    font-size: 13px;
    color: rgb(245, 235, 220);
    margin-bottom: 0;
}

.store-logo {
    height: 44px;
    width: 130px;
}

.footer-inner li {
    color: rgb(187, 163, 145);
    font-size: 0.9375rem;
}
h1{
    font-weight: 600;
}

.footer-inner h2 {
    font-weight: 600;
    font-size: 25px;
    color: rgb(245, 235, 220);
}

.footer-inner-name {
    font-weight: 600;
    font-size: 25px;
    color: rgb(245, 235, 220);
}

.under-name {
    color: rgb(245, 235, 220);
}
.last-footer{
    background-color: rgb(80, 35, 20);
    color: white;
}
.small-footer-div1{
    width: 100%;
    background-color: rgb(80, 35, 20);
    color: rgb(187, 163, 145);
    
}
.small-footer-div2{
    width: 100%;
    background-color: rgb(80, 35, 20);
    color: rgb(187, 163, 145);
    
}
.more-button{
    text-align: center;
}

#bkc-info{
    text-align: left ;
    margin-bottom: 0;
}
.bkc-info-text p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.button-inner{
    border-radius: 999px;
    border-color: rgb(187, 163, 145);
    color: rgb(187, 163, 145);
}